h1{
    text-shadow: 3px 3px 5px hsl(0, 93%, 45%), -3px -3px 5px rgb(78, 78, 200)  ;
}

#box1{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    box-shadow: 3px 3px 5px ;
    border-radius: 10px;
}