.list-category{
  font-size: 2em;
  font-weight: bold;
  color: rgb(224, 130, 8);
  margin-bottom: 10px;
  text-align: center;
  border: 3px solid;
  border-radius: 5px;
  background-color: antiquewhite;
}
.list-items li{
  font-size: 2em;
  list-style: none;
  text-align: center;
  margin: 0;
}

.list-items li:hover{
  color:tomato;
  cursor: pointer;
}