body{
    margin: 0px;
}

#box{
    border: 5px solid;
    font-size: 5em;
    height: 250px;
    width: 250px;
    margin-top: 50px;
}

.box1{
    background-color: blue;
}

.box2{
    background-color: brown;
    margin-left: 50px;
}