

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
}