body{
    background-image: url(./pexels-bertellifotografia-573299.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}