#myBox{
    background-color: aqua;
    height: 200px;
    width: 200px;
    font-size: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
body{
    margin: 0px;
}